.Header {
  background-color: #F9F9F9;
  border-bottom: 2px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  & h1 {
    margin: 0;
  }

  & form {
    display: flex;
    margin: 0 20px;
    flex: 1;

    & input {
      margin-bottom: 0;
    }

    & #schemaURL {
      flex: 1;
    }

  }
}